= simple_form_for [@subject, @pana_validation_questionary], url: subject_pana_validation_questionary_path(@subject) do |f|
  = render "pana_validation_questionaries/pages/page#{@pana_validation_questionary.page}", f: f
  = f.input :page, as: :hidden
  = f.submit value: t('shared.next') if @pana_validation_questionary.page < 8
