@media (min-width: 992px) {
  form {
      .col-sm-3.control-label {
      text-align: right;
    }

    fieldset {
      .row {
        height: 100%;
      }
    }

    .scale {
      font-weight: bold;
      margin-bottom: 1em;
    }

    .radio_button {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      label {
        display: block;
        width: 100%;
        text-align: center;

        .text {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0,0,0,0);
          border: 0;
        }
      }
    }

    .bipolar-left {
      text-align: right;
    }
  }
}

form {
  .fa.fa-asterisk {
    font-size: 0.5rem;
    vertical-align: super;
  }

  .col-sm-3.control-label {
    font-weight: bold;
  }

  .radio {
    label {
      display: block;
    }
  }

  .radio, .radio_button {
    label {
      padding-left: 20px;
    }

    input {
      margin-left: -20px;
      margin-right: 7px;
    }
  }

  .help-block {
    color: red;
  }

  fieldset {
    legend {
      font-size: 1rem;
      font-weight: bold;
    }
    .bipolar-left, .bipolar-right  {
      font-weight: bold;
    }
  }
}
