/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables";
@import "bootstrap";

body {
  // make all images responsive by default
  img {
    @extend .img-fluid;
    margin: 0 auto;
  }

  // style the submit button by default
  input[type=submit] {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-block;
  }

  // We don't use the sucess alert for sighted people here
  .pana_validation_questionaries #headline .alert-success {
    @extend .sr-only;
  }

  .vcenter {
    display: flex;
    align-items: center;
  }

  main {
    @extend .container;
    margin-top: 30px; // accommodate the navbar
    margin-bottom: 20px;
  }
}
