ruby:
  column_name = PanaValidationQuestionaryStructure.calculate_vertical_pana_columns[@pana_validation_questionary.page - 1]
  pair = PanaValidationQuestionaryStructure::VERTICAL_MAPING[@pana_validation_questionary.page - 1]

javascript:
  $(document).ready(function() {
    function setValueFromSlider(value) {
      $("#pana_validation_questionary_#{column_name.to_s}").val(value);
      $('.slider-handle').addClass('touched')
    }
    window.slider = new Slider("##{column_name.to_s}");
    window.slider.on("slideStop", function(value) {
      setValueFromSlider(value)
    });
    window.slider.on("change", function(element) {
      setValueFromSlider(element.newValue)
    });
  });
.pana_validation_questionary
  .row
    .col-12.col-md-6.offset-md-3.col-lg-4.offset-lg-4
      .without-success-flash = headline_with_flash
      p = t('.description')
      .row
        .col-6
          = image_tag "panava_nonverbal/#{pair.first}.png"
        .col-6.text-right
          = image_tag "panava_nonverbal/#{pair.last}.png"
      .row
        .col-12.text-center.mt-4
          = range_field_tag(column_name.to_s, f.object[column_name], style: 'width: 90%;', data: {'slider-ticks' => "[1, 2, 3, 4, 5, 6, 7]", 'slider-min' => 0,  'slider-max' => 7, 'slider-value' => f.object[column_name] || 4})
          = f.input(column_name, as: :hidden)
      .row
        .col-12.text-center.mt-4
          = f.submit value: t('shared.next') if @pana_validation_questionary.page < 28

scss:
  .slider-selection.tick-slider-selection {
  	background: transparent none;
  }

  .slider-selection {
    box-shadow:  none;
  }

  .slider-track {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    background: linear-gradient( to left, #CCC, white, #CCC);
  }

  .slider-tick.in-selection {
    background: #CCC;
    background-image: none;
  }

  .slider-tick {
    background: #CCC;
    background-image: none;
    opacity: 1;
  }

  .slider-handle {
    top: -5px;
    width: 30px;
    height: 30px;
    background: rgba(51,122,183,0.5);

  }
  .slider-handle.round {
    margin-left: -15px !important;
  }

  .slider-handle.touched {
    top: -5px;
    lelft: -12px;
    width: 30px;
    height: 30px;
    background: rgba(51,122,183,1);
  }
