javascript:
  $(document).ready(function() {
    var slider = $('input[type="range"]');

    slider.on('click touchend', function(event) {
      $('#pana_validation_questionary_' + this.id).val(this.value);
    });
  });

scss:
  .vertical-slider-container {

    .vertical-slider {
      height: 50vh;
      min-height: 370px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 100px;
      }

      .vertical-slider-middle {
        display: flex;
        align-items: center;
        width: 20vh;
        height: 20em;
        min-width: 160px;
        transform: rotate(-90deg);

        [type='range'] {
          position: relative;
          top: 0%;
          width: 100%;
        }
      }
    }
  }

ruby:
  column_name = PanaValidationQuestionaryStructure.calculate_vertical_pana_columns[@pana_validation_questionary.page - 1]
  pair = PanaValidationQuestionaryStructure::VERTICAL_MAPING[@pana_validation_questionary.page - 1]

.pana_validation_questionary
  .without-success-flash = headline_with_flash
  p = t('.description')

  - if (@pana_validation_questionary.page % 2).zero?
    .vertical-slider-container
      .vertical-slider
        .vertical-slider-top
          = image_tag "panava_nonverbal/#{pair.first}.png"
        .vertical-slider-middle
          = range_field_tag(column_name.to_s, f.object[column_name], min: 0, max: 100, step: 1)

        .vertical-slider-bottom
          = image_tag "panava_nonverbal/#{pair.last}.png"
  - else
    .row
      .col-4.col-md-2
        = image_tag "panava_nonverbal/#{pair.first}.png"
      .col-4.col-md-8
          = range_field_tag(column_name.to_s, f.object[column_name], min: 0, max: 100, step: 1)
      .col-4.col-md-2
        = image_tag "panava_nonverbal/#{pair.last}.png"

  = f.input column_name, as: :hidden
