= headline_with_flash
p = t('.description')

ruby:
  question_code = "pnv#{@pana_validation_questionary.page - 10}"
  question = PanaValidationQuestionary.human_attribute_name(question_code)
  scale = t('.scale').map do |key, value|
    question_texts = question.split('|')
    text = question_texts.first if key < 4
    text = question_texts.last if key > 4
    [key, " #{value} #{text}"]
  end

= f.input question_code, as: :radio_buttons, collection: scale, label_method: :last, value_method: :first, wrapper: :simple_radio_buttons, label_html: { class: 'sr-only' }
= f.submit value: t('shared.next') if @pana_validation_questionary.page < 28
